.guide-banner{
    height: 7.8rem; position: relative;
    .guide-login{
        width: 7rem; height: 2.15rem; background: #fff; border-radius: .1rem;
        form{
            height: inherit; 
            label{
                flex: 1;padding: 0 .3rem;  font-size: .28rem;
                span{
                    color: #f54d54;
                }
            }
            label:first-child{
                border-bottom: 1px solid #e9e9e9;
            }
            input{
                font-size: .28rem;
            }
        }
    }
}
.guide-btn{
    background: -webkit-linear-gradient(left, #f54d54 , #ff621d); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #f54d54 , #ff621d); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #f54d54 , #ff621d); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #f54d54 , #ff621d); /* 标准的语法 */
    height: .9rem; line-height: .9rem; width: 6.80rem; margin: .5rem auto .3rem auto; border-radius: .1rem; text-align: center; color: #fff; font-size: .34rem;
}
.guide-protocol{
    .guide-checkbox{
        background: url('../../images/checkbox.jpg') no-repeat; width: .23rem; height: .23rem; background-size: 100%;
    }
    .guide-checkboxdefault{
        background: url('../../images/fuxuan1.png') no-repeat; width: .23rem; height: .23rem; background-size: 100%;
    }
    span{
        font-size: .24rem; margin: 0 0 0 .1rem;
        a{
            color: #f54d54
        }
    }
    
}
.guide-footer{
    color: #f54d54; text-align: center; margin: .5rem 0 0; font-size: .24rem; text-decoration: underline;
}
.guide-banq{
    color: #bdbdbd; font-size: .22rem; position: fixed; bottom: .5rem; width: 100%; text-align: center;
}

.err-box-404{
    color: #999;
  img{
      width: 2.12rem; height: 1.62rem; 
  }
  h3{
    font-size: .34rem;  margin: .3rem 0 .2rem 0;
  }
  p{
      font-size: .26rem; 
  }
  div{
      margin: .4rem 0 0 0;
      span{
        color: #fa573a
      }
  }
}
