.home-hreader{
    background: url('../../images/BG.jpg') no-repeat; width:7.5rem; height: 8.98rem; background-size: 100%; position: relative;
}
.home-main{
    .home-flow{
        margin: -.3rem 0 0 0;
    }
    .home-btn{
        span{
            color: #fff; font-size: .3rem; text-decoration: underline; 
        }
    }
}
.open{
    background: rgba(0, 0, 0, .75); height: 100%; width: 100%; position: fixed;z-index: 8;
    .open-close{
        position: absolute; bottom: -1rem; width: 100%;
        img{
            width: .63rem; height: .63rem;
        }
    }
}
.isroll{
    width: 6.7rem; height: 7.4rem; background: #fff; border-radius: .2rem;
    .open-title{
        background: #ff8c1d; width: 2.13rem; height: .7rem; line-height: .7rem; margin: .4rem auto; border-radius: .4rem; color: #fff
    }
    .isroll-children{
        height: 5.7rem;  text-align: left; padding: 0 .4rem; font-size: .26rem; line-height: .40rem; color: #666; position: absolute;
        p{
            padding: .1rem 0;
        }
    }
}
.home-list{
     position: relative;
    h3{
        font-size: .36rem; font-weight: bold; color: #fff;position: relative; z-index: 2; background: #ff5b01; width: 3rem; margin: .5rem auto;
        img{
            width: .32rem; margin: 0 .2rem 0 0
        }
    }
    .home-title-line{
        height: 1px; width: 80%; background: #ffaf76; position: absolute; top: .25rem; left: 10%; 
    }
    ul{
        width: 6.85rem; margin: 0 auto;
        li{
            background: #fff;  border-radius: .1rem;
            i{
                width: 1.2rem;
            }
            div{
                text-align: left;
                h4{
                    color: #000000; font-size: .4rem;
                }
                p{
                    color: #666; font-size: .24rem;
                }
            }
            em{
                width: 1.96rem;
            }
        }
    }
   
}
