$mt2:.2rem;
$borderColor: #e9e9e9;
$color:#f54d54;
$alignCenter:center;
.home{
    padding-bottom:2.3rem 
}
.main{
    margin-top: $mt2;
    .home-header{
        height: 1.75rem; background: #fff;
        ul{
            height: inherit ;
            li {
                flex:1; box-sizing: border-box;
            }
            li:first-child{
                border-right: 1px solid $borderColor
            }
        }
        
    }
    .home-recommend{
        margin-top: $mt2; background: #fff; overflow: hidden; font-size: .24rem;
        .home-recommend-header{
            height: .85rem; border-bottom: 1px solid $borderColor;
            .home-recommend-icon{
                height: .4rem; width: .4rem; background: $borderColor; border-radius: .1rem; margin: 0 0 0 .3rem; 
            }
            .home-recommend-title{
                flex: 1; text-align: left;
                h3{
                    font-size: .34rem; padding: 0 .15rem 0 .2rem;
                }
                span{
                    color: #8d8d8d;
                }
            }
            .home-recommend-replace{
                padding: 0 .3rem 0 0 ;color: $color;
                img{
                    height: .2rem; width: .23rem; margin: 0 .1rem 0 0 ;
                }
            }
        }
        .home-recommend-money{
            color: $color; font-size: .66rem; text-align: $alignCenter; font-family: Arial, Helvetica, sans-serif; padding: .3rem 0 ;
            p{
                color: #939393; font-size: .24rem;
            }
        }
        .home-recommend-adv{
            padding: 0 .6rem;
            li{
                background: #fff3f4; font-size: .22rem; color: $color; padding: .1rem .2rem
            }
        }
        .home-recommend-btn{
            background: -webkit-linear-gradient(left, #f54d54 , #ff621d); /* Safari 5.1 - 6.0 */
            background: -o-linear-gradient(right, #f54d54 , #ff621d); /* Opera 11.1 - 12.0 */
            background: -moz-linear-gradient(right, #f54d54 , #ff621d); /* Firefox 3.6 - 15 */
            background: linear-gradient(to right, #f54d54 , #ff621d); /* 标准的语法 */
            width: 4.75rem; height: .67rem; line-height: .67rem; color: #fff; margin: .3rem auto; font-size: .3rem; border-radius: .4rem; text-align: center;
            box-shadow: 3px 3px 10px  #ffd3d5;
         }
    }
    .home-list{
        margin-top: $mt2; background: #fff;
        li{
            padding: 0 .3rem
        }
        .home-list-header{
            height: .85rem; border-bottom: 1px solid $borderColor; padding: 0 .3rem;
            h3{
                font-size: .34rem;
            }
            span{
                color: $color; font-size: .24rem;
            }
        }
        .home-item{
            padding: .3rem 0;  font-size: .24rem; border-bottom: 1px solid $borderColor;
            .home-item-icon{
                color: #666666;
                span{
                    width: .4rem; height: .4rem; border-radius: .1rem; background: $borderColor; margin: 0 .2rem 0 0;
                }
            }
            .home-item-bottom{
                margin-top: $mt2;
                .home-item-money{
                    border-right: 1px solid $borderColor; padding-right: .1rem;
                    span{
                        font-size: .53rem; color: $color;
                    }
                    p{
                        color: #999;
                    }
                }
                .home-item-conter{
                    flex: 1; padding-left: .2rem;
                    p{
                        font-size: .28rem; color: #666; line-height: .48rem
                    }
                }
                .home-item-btn{
                    background: #fe6120; color: #fff; height:.55rem; line-height: .55rem; width: 1.47rem; text-align: center; border-radius: .3rem;
                }
            }
            
        }
    }
    .home-loding{
        height: .6rem;  padding: 0 0 0 2.8rem;
        img{
            width: .22rem; margin-right: .1rem;
        }
        span{
            font-size: .18rem; color: #666
        }
    }
    .home-footer{
        position: fixed; bottom: 1rem; left: 0;
    }
}
// ---------------------------首页样式end-----------------------------
.move{
    padding-bottom:1rem 
}
.move-header{
    height: .87rem; font-size: .34rem; background: #fff;
    ul{
        height: inherit;
        li{
            color: #333;
            .sort-img{
                width: .13rem; height: .07rem; margin: 0 0 0 .15rem
            }
        }
        .active{
            color: $color;
        }
    }
}
.move-lamp{
    background: #fff8f6; font-size: .24rem; color: $color; padding: 0 .2rem; height: .58rem; margin: .05rem 0 0 0;
    img{
        width: .23rem; margin: 0 .1rem 0 0 
    }
}




