.login-header{
    height: 1.5rem;
    .login-nav{
        text-align: center; width: 4rem;  background: #fff; border:.02rem solid #fa5838; border-radius: .1rem; overflow: hidden;
        div{
           flex: 1; color: #fa5838; height: .6rem; line-height: .6rem;
        }
        .divactive{
            color: #fff; background: #fa5838; 
        }
    }
}
.login-main{
   height: 2.15rem; background: #fff; border-radius: .1rem;
   .com-input{
    height: inherit;
   }
    
}
form{
    height: inherit; 
    label{
        flex: 1;padding: 0 .3rem;  font-size: .28rem;
        span{
            color: #f54d54;
        }
        img{
            width: .34rem
        }
    }
    label{
        border-bottom: 1px solid #e9e9e9;
    }
    input{
        font-size: .28rem;
    }
}
.login-protocol{
    position: fixed; bottom: 1.5rem; width: 100%;
    .login-checkbox{
        background: url('../../images/checkbox.jpg') no-repeat; width: .23rem; height: .23rem; background-size: 100%;
    }
    .login-checkboxdefault{
        background: url('../../images/fuxuan1.png') no-repeat; width: .23rem; height: .23rem; background-size: 100%;
    }
    span{
        font-size: .24rem; margin: 0 0 0 .1rem;
        a{
            color: #f54d54
        }
    }
    
}
