.nav{
    height: 1rem; background: #fff; box-sizing: border-box; padding: .15rem 0 0 0; position: fixed; bottom: 0; left: 0; width: 100%;
    .icon{
        background: url("../../images/nav-icon.png") no-repeat ; background-size: .54rem 3.24rem; width: .34rem; height: .34rem; display: block;
        transition: all .5s; -webkit-transition: all .5s;
    }
    .icon-1-active{
        background-position: -.1rem -1.72rem;
    }
    .icon-1{
        background-position: -.1rem -1.18rem;
    }
    .icon-2-active{
        background-position: -.1rem -.64rem;
    }
    .icon-2{
        background-position: -.1rem -.1rem;
    }
    .icon-3-active{
        background-position:  -.1rem -2.80rem ;
    }
    .icon-3{
        background-position:  -.1rem -2.26rem; 
    }
    span{
        color: #737373;padding: .1rem 0 0 0;  transition: all .5s; -webkit-transition: all .5s; font-size: .2rem
    }
    .spancolor{
        color: #333333; 
    }
}